<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>

        {% if categories %}
            <strong>The Top {{ categories|length }} Categories are:</strong>
            <ul>
                {% for category in categories %}
                <li><a href="category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong><br />
        {% endif %}

        {% if pages %}
            <strong>The Top {{ pages|length }} Pages are:</strong>
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong><br />
        {% endif %}

        <a href="about/">About</a><br />
    </body>
</html>
