<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Login to Rango</h1>
        {% if requested_page %}
        <form id="login_form" method="post" action="/rango/login/?next={{ requested_page }}">
        {% else %}
        <form id="login_form" method="post" action="/rango/login/">
        {% endif %}
            {% if error_text %}
            <strong> {{ error_text }} </strong><br />
            {% endif %}
            
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>
